@model CMS.Models.NewsStory

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>NewsStory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Image.ImageName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image.ImageName)
        </dd>

        <dt>
            Image
        </dt>

        <dd>
            <img src="data:image;base64,@System.Convert.ToBase64String(Model.Image.ImageContent)" alt="">
        </dd>

        <dt>
            Created By
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.FirstName)
            @Html.DisplayFor(model => model.User.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KeyWords)
        </dt>

        <dd>
            <ul>
                @foreach (var kw in Model.KeyWords)
                {
                    <li>@kw.keyWordContent</li>
                }
            </ul>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.Content)*@
            @Html.Raw(Model.Content)
        </dd>

        


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.NewsStoryID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
